body
{
    background-image: url('theme.jpg');
  background-size: auto;
  background-size: 1600px 700px;
}

h1{
color:yellow ;
}
h4 {
color: white;
}
.login_div1 , .login_div2
{
    background: whitesmoke;
    padding: 10px;
    float: none;
    border-radius: 15px;
    width: 400px;
}

#player1_name , #player2_name
{
    display: inline-block;
    margin-left: 3px;
}

#word
{
    width: 60%;
}

#word_display
{
    letter-spacing: 5px;
}
#output
{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}